/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}@font-face {
  font-family: 'Sansus Webissimo';
  src: url(../fonts/SansusWebissimo.woff) format("woff"), url(../fonts/SansusWebissimo.ttf) format("truetype"); }

* {
  box-sizing: border-box; }

::-webkit-input-placeholder {
  color: fff; }

::-moz-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

html {
  height: 100%; }

body {
  min-width: 320px;
  height: 100%;
  color: #474b57;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px; }
.text {
  font-size: 16px;
  line-height: 24px; }

.text_color_white {
  color: #fff; }

.text_weight_300 {
  font-weight: 300; }

.text_weight_500 {
  font-weight: 500; }

.text_weight_700 {
  font-weight: 500; }

.text_style_italic {
  font-style: italic; }

@media screen and (max-width: 767px) {
  .text {
    font-size: 14px;
    line-height: 24px; } }
.heading_color_white {
  color: #fff; }

.heading_font_2 {
  font-family: 'Sansus Webissimo', sans-serif; }

.heading_size_28 {
  font-size: 28px;
  line-height: 34px; }

.heading_size_35 {
  font-size: 35px;
  line-height: 34px; }

.heading_size_63 {
  font-size: 63px;
  line-height: 56px; }

.heading_weight_500 {
  font-weight: 500; }

.heading_transform_uppercase {
  text-transform: uppercase; }

.heading_decor_border-spacer {
  position: relative; }
  .heading_decor_border-spacer::after {
    content: "";
    display: block;
    width: 56px;
    height: 3px;
    margin: 15px auto 25px;
    background-color: #474b57; }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .heading_decor_border-spacer::after {
      width: 89px;
      margin: 8px auto 17px; } }

@media screen and (max-width: 767px) {
  .heading_xs-size_21 {
    font-size: 21px;
    line-height: 28px; }
  .heading_xs-size_35 {
    font-size: 35px;
    line-height: 42px; }
  .heading_xs-weight_500 {
    font-weight: 500; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .heading_sm-size_30 {
    font-size: 30px;
    line-height: 36px; }
  .heading_sm-size_49 {
    font-size: 49px;
    line-height: 52px; } }
.avatar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  width: 141px;
  height: 141px;
  border-radius: 50%;
  overflow: hidden; }
  .avatar__img {
    display: block;
    width: 140px; }

.avatar_size_small {
  width: 77px;
  height: 77px; }
.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  padding: 0;
  list-style: none; }
  .social__item {
    margin-right: 10px; }
    .social__item:last-child {
      margin-right: 0; }
  .social__link {
    display: block;
    padding: 10px;
    position: relative;
    fill: #fff;
    transition: all 180ms ease-out; }
    .social__link::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .social__link:hover {
      fill: #004cd1; }
  .social__icon {
    display: block;
    position: relative;
    z-index: 1; }
    .social__icon_vk {
      width: 31px; }
    .social__icon_github {
      width: 26px;
      position: relative;
      top: 1px; }
    .social__icon_in {
      width: 24px; }

.social_color_blue .social__link {
  fill: rgba(0, 76, 209, 0.7); }
  .social_color_blue .social__link:hover {
    fill: #004cd1; }

@media screen and (max-width: 767px) {
  .social_xs-size_small .social__icon_vk {
    width: 24px; }
  .social_xs-size_small .social__icon_github {
    width: 21px; }
  .social_xs-size_small .social__icon_in {
    width: 19px; } }
.nav__link {
  text-decoration: none; }

.nav_layout_inline .nav__list {
  display: -ms-flexbox;
  display: flex; }

.nav_layout_inline .nav__item {
  -ms-flex-positive: 1;
      flex-grow: 1; }

.nav_spacers_white .nav__item {
  position: relative; }
  .nav_spacers_white .nav__item::before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -1px;
    background-color: rgba(222, 227, 231, 0.5); }
  .nav_spacers_white .nav__item:first-child::before {
    display: none; }

.nav__item_width_50 {
  width: 50%; }

.nav__item_style_button {
  padding: 0; }
  .nav__item_style_button .nav__link {
    display: block;
    padding: 10px; }

@media screen and (max-width: 767px) {
  .nav__item_xs-width_auto {
    width: auto; } }
.copyright {
  font-size: 0; }
  .copyright__name, .copyright__company, .copyright__year {
    font-size: 16px;
    font-weight: 300; }
  .copyright__company::before, .copyright__company::after {
    content: "|";
    display: inline-block;
    padding: 0 4px; }

.copyright_color_white {
  color: #fff; }

@media screen and (max-width: 767px) {
  .copyright {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center;
    font-size: 14px; }
    .copyright__name {
      width: 100%; }
    .copyright__company::before {
      display: none; } }
.user {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }
  .user__avatar {
    margin-bottom: 15px; }
  .user__title {
    padding: 0 20px;
    margin-bottom: 5px; }
  .user__text {
    padding: 0 20px; }
  .user__anchor-link {
    position: absolute;
    top: 65.66901vh; }

@media screen and (max-width: 767px) {
  .user__avatar {
    margin-bottom: 20px; }
  .user__title {
    margin-bottom: 5px; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .user__anchor-link {
    top: 31.54297vh; } }

@media screen and (min-width: 1200px) and (max-width: 1799px) {
  .user__avatar {
    margin-bottom: 25px; }
  .user__title {
    margin-bottom: 15px; }
  .user__anchor-link {
    top: 35.15625vh; } }

@media screen and (min-width: 1800px) {
  .user__avatar {
    margin-bottom: 27px; }
  .user__title {
    margin-bottom: 13px; }
  .user__anchor-link {
    top: 360px; } }
